body{
    width: 800px;
    height: 700px;
    margin:0 auto;
    font-family: 'Spectral SC', serif;
}

.spaceHeader{
    height: 200px;
}

.bodyContent{
    background-image: url("bar.png");
    border: 2px solid black;
    height: 497px;
}

.hyBox{
    margin: 0 auto;
    width: 40%;
    float: right;
    text-align: center;
}

.merBox{
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.merBox{
    margin-top: 190px;
}

.hyBox{
    margin-top: 185px;
}

.hyroFace{
    width: 150px;
    height: 150px;
}

.merFace{
    width:140px;
    height: 140px;
}

.homeButton{
    height: 50px;
    width: 50px;
}

#textBox{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 95px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid black;
    background-color: white;
}

#text{
    width: 72%;
    float: left;
}

#mButton{
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    margin-left: 50px;
    margin-top: 2px;
}

#clicker{
    width: 90px;
    height: 90px;
    background-image: url("button.png");
}
